/* can ignore this file for now, was trying to do an animation but havent got it to work yet. */


/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Style for the header */
header {
    width: 100%;
    height: 80px;
    text-align: center; /* Center-align the text horizontally */
    background-color: #161616; /* Background color for the header */
    color: white; /* Text color for the header */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Style for the h4 element within the header */
header h4 {
    font-size: 1.6rem; /* Font size for the header text */
    margin: 0;
    padding: 1rem 0;
}

/* Style for the intro section */
.intro {
    position: fixed;
    z-index: 0; /* Set a lower z-index to make it appear behind the header */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
    color: white; /* Text color for the intro section */
}

/* Style for the logo header within the intro section */
.logo-header {
    position: absolute;
    top: 50%; /* Vertically center the logo header */
    left: 50%; /* Horizontally center the logo header */
    transform: translate(-50%, -50%);
}

/* Style for the logo text */
.logo {
    display: inline-block;
    margin: 0 10px; /* Add spacing between "Cat" and "Breeds" */
    font-size: 1.6rem; /* Font size for the logo text */
}

/* Animation for the logo text */
.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

/* Fade-out animation for the logo text */
.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
